body {
  background-color: #c9daf8;
}

.wrapper {
  display: flex;
  display: inline-block;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  background-color: #6d9eeb;
}

#content {
  display: inline-block;
}
