.wrapper {
  display: flex;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  background-color: #3A619E;
  box-shadow: 1px 0px 8px;
}

.side-bar-btn {
  background-color: #162D51;
  text-align: center;
  border: none;
  width: 100%;
}

.side-bar-btn h2 {
  margin-top: 10px;
  font-weight: bold;
  color: white;
}

.add-button {
  background-color: #162D51;
  color: white;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#content {
  width: 100%;
}

.add-book-form {
  background-color: white;
  padding: 5px;
  border: 1px solid #162d51;
}

/* Heading */
.heading {
  font-size: 75px;
  font-weight: bold;
  color: #E9AA28;
  width: fit-content;
  background-color: #3a619e;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  margin-top: 5px;
}

/* Main Content */

.content-body {
  width: fit-content;
  padding: 5px;
  margin: 0 auto;
}

.results {
  border: 5px solid #162D51;
  border-radius: 5px;
}

.filters {
  padding: 20px;
  border: 5px solid #162D51;
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 5px;
}

.filter-option {
  color: #d9a333;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
}

.filter-icon {
  color: #3a619e;
}

/* Login Form */
.login-signup-form {
  background-color: white;
  padding: 5px;
  border: 1px solid #162d51;
}

.login-button {
  background-color: #162D51;
  color: white;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.signup-button {
  background-color: #162D51;
  color: white;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Cards */
.card {
  width: 25rem;
  border: 1px solid #b7b7b7;
  padding: 15px;
  display: inline-grid;
  margin: 15px;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
}

.score {
  position: relative;
  top: .5px;
  left: 1px;
}

.score-vote {
  float: right;
  padding-left: 10px;
}
