<!DOCTYPE html>
<html ng-app="booksForUs">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="wrapper" ng-controller="bookController">

    <div id="sidebar">
      <br>
      <!-- Sidebar -->
      <ul id="sidebar-list" class="list-unstyled components">
        <li>
          <form class="login-signup-form" action="index.html" method="post">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <input class="login-button" type="submit" name="" value="Login">
            <input class="signup-button" type="submit" name="" value="Signup">
          </form>
        </li>
        <br>
        <li>
          <button class="side-bar-btn" type="button" name="button">
            <h2>Favorite Books</h2>
          </button>
        </li>
        <br>
        <li><!-- Link with dropdown items -->
          <button class="side-bar-btn" data-target="#add-book-collapse" data-toggle="collapse" aria-expanded="false">
            <h2>Add Book</h2>
          </button>
          <form class="add-book-form collapse list-unstyled" id="add-book-collapse" ng-submit="addBook()">
            <div class="form-group">
              <label for="title">Title</label>
              <input ng-model="newTitle" type="text" class="form-control" id="title">
            </div>
            <div class="form-group">
              <label for="author">Author</label>
              <input id="author" type="text" ng-model="newAuthor" ng-model-options="modelOptions" uib-typeahead="author.name for author in currentAuthors | filter:$viewValue" class="form-control">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea ng-model="newDescription" class="form-control" id="description" rows="3"></textarea>
            </div>
            <input class="add-button" type="submit" name="" value="Add">
          </form>
        </li>
      </ul>
    </div>

    <div id="content">
      <div>
        <h1 class="heading">Books for Us</h1>
      </div>
      <div class="content-body">
        <div>
          <div class="filters">
            <form class="form-inline">
              <div class="form-group">
                <input ng-model="search" type="text" class="form-control" placeholder="Search">
              </div>
              <div class="form-group">
                <span class="filter-option">Titles</span>
                <span ng-click="titleFilter(1)" class="filter-icon glyphicon glyphicon-arrow-up"></span>
                <span ng-click="titleFilter(0)" class="filter-icon glyphicon glyphicon-arrow-down"></span>
              </div>
              <div class="form-group">
                <span class="filter-option">Scores</span>
                <span ng-click="scoreFilter(1)" class="filter-icon glyphicon glyphicon-arrow-up"></span>
                <span ng-click="scoreFilter(0)" class="filter-icon glyphicon glyphicon-arrow-down"></span>
              </div>
            </form>
          </div>
          <div class="results">
            <div class="card" ng-repeat="book in currentBooks | filter:search | orderBy:propertyName:reverse">
              <div class="card-body">
                <h5 class="card-title"> {{book.title}} </h5>
                <p class="card-text"> {{book.description}} </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  {{book.name}}
                </li>
                <li class="list-group-item">
                  Score:
                  <span class="score"> {{book.score}} </span>
                  <span class="score-vote glyphicon glyphicon-thumbs-up" ng-click="incrementScore(book.book_id)"></span>
                  <span class="score-vote glyphicon glyphicon-thumbs-down" ng-click="decrementScore(book.book_id)"></span>
                </li>
              </ul>
              <span class="glyphicon glyphicon-heart"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
